<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Your Pig Latin - ized word is:</h1>
      <h2><%=@pig_latinized_word%></h2>
  </body>
</html>
