<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
<<<<<<< HEAD
    <h1>Pig Latinizer</h1>
  
=======
    <h1>Pig Latinizer!</h1>
     <form method="POST" action ='/piglatinize'>
         <label>Enter your phrase: <input type="text" name="user_phrase"></label>
         <input type="submit" id="Submit">
     </form>
>>>>>>> 5d0face1036ff95cc3ad7c9cf50bddcc42163276
  </body>
</html>
